<html>
  <head></head>
  <body>
    <p>
      <%= message %>
    </p>
    <p>
      Guess the secret number between 0 and 100!
    </p>
    <form>
      <input type="text" name = "guess"/>
      <input type="submit" value="Guess!"/>
    </form>
  </body>
</html>